html, body {
    margin: 0;
    height: 100%;
    background-color: #222;
}

body {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.025rem;
    font-family: sans-serif;
}

main > header {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 5px;
    grid-area: hd;
}

main {
    display: grid;
    grid-template-areas: "c sr" "p p";
    grid-template-columns: 1fr 485px;
    grid-template-rows: 1fr auto;
    grid-auto-flow: row;
    grid-row-gap: 0px;
    grid-column-gap: 0;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

main video {
    border: none;
    background-color: #000;
}

video:fullscreen {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#cams {
    grid-area: c;
}

#sidebar-right {
    grid-area: sr;
}

#metronome {
    grid-area: m;
}

#piano {
    grid-area: p;
}

#piano-pedals {
    grid-area: pp;
}

#cams {
    width: 100%;
    height: 100%;
}

#remoteVideo {
    display: block;
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
}

#localVideoWrapper {
    position: fixed;
    z-index: 1000;
    user-select: none;
    touch-action: none;
    cursor: grab;
}

#localVideo {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: block;
}

#resizeHandle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background: #ccc;
    cursor: nw-resize;
}

#sidebar-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content auto;
    grid-auto-flow: row;
    grid-row-gap: 4px;
    height: 100%;
    overflow-y: auto;
    padding: 0 10px;
}

#sidebar-right .title {
    font-size: .9rem;
    padding: 8px 0 5px;
}

#log {
    overflow: scroll;
    max-width: 100%;
    font-family: monospace;
    font-size: .75rem;
    white-space: nowrap;
}

#chat {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#chat h2 {
    font-size: 1.2rem;
    margin: 0;
}

#chat-msgs {
    white-space: pre-wrap;
    border: 1px solid #ccc;
    min-height: 74px;
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
}

#chat-form {
    display: flex;
    gap: 5px;
}

#chat-form label {
    position: absolute;
    clip: rect(0 0 0 0); /* Screenreader-freundlich, aber unsichtbar */
}

#messageInput {
    flex-grow: 1;
    padding: 5px;
}

#chat-form button {
    padding: 5px 10px;
}


#devices label {
    display: none !important;
}

#devices > div {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

#devices input,
#devices select {
    padding: 3px;
    width: 100%;
    box-sizing: border-box;
}

#devices .volume-control {
    display: grid;
    grid-template-columns: 16px 1fr;
    width: 100%;
    align-items: center;
}

#devices .volume-control img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
}

#devices .volume-control img:hover {
    filter: brightness(1.2);
}

#devices .volume-control img.muted {
    filter: grayscale(1) opacity(0.6);
}

#devices .volume-control img.muted:hover {
    filter: grayscale(1) opacity(0.8);
}


#connection > div {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

#connection label {
    display: none !important;
}

#connection input {
    padding: 3px;
    width: 100%;
    box-sizing: border-box;
}

#connection button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: black;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

#connection button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#connection button:hover:not(:disabled) {
    background-color: #45a049;
}

.throbber {
    width: 30px;
    height: auto;
}

/* File Transfer List */

#fileList {
    position: relative;
    min-height: 100px;
    border: 1px solid #ccc;
}

#fileList.dragover {
    background: #e0e0e0;
}

#fileList .file-item {
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    white-space: pre;
    font-size: .9rem;
    margin-bottom: 1px;
}

#fileList .file-item.sent {
    background: #9f3131;
}

#fileList .file-item.received {
    background: #198238;
}

#fileList .file-item a {
    color: inherit;
    text-decoration: underline;
    margin-left: 5px;
}

#fileList .icon {
    width: 16px;
    height: auto;
    filter: invert(1);
}

#fileList .file-item .progress-container {
    width: 100%;
    background: #ddd;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

#fileList .file-item .progress-bar {
    height: 100%;
    background: #4caf50;
    width: 0;
    transition: width 0.3s;
}

#fileList .file-item .progress-text {
    position: absolute;
    top: -20px;
    right: 5px;
    font-size: 12px;
    color: #333;
}

#fileList > p {
    position: absolute;
    top: 2px;
    right: 6px;
    font-size: .8rem;
    z-index: 5;
    margin: 0;
    font-style: italic;
}
