.piano {
    position: relative;
    background: #cccccc;
    height: 100px;
    border-left: none;
    user-select: none;
    max-width: 100%;
    overflow: hidden;
}

.piano.inline {
    display: inline-block;
}

.case {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid rgb(100, 100, 100);
    box-shadow: inset 0px -4px 12px rgba(255, 255, 255, 0.5);
    padding: 0 10px;
}

.piano-settings-container {
    flex-shrink: 0;
}

.piano-settings {
    display: grid;
    grid-auto-flow: column;
    gap: 7px;
    font-size: 12px;
    color: #ddd;
}

.piano-settings .setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

.piano-settings label {
    white-space: nowrap;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    transition: .4s;
    border-radius: 20px;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.toggle-switch input:checked + .slider {
    background-color: #4CAF50;
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(20px);
}

.piano-settings input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
}
.piano-settings input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
.piano-settings input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 3px;
}

.dual-range-slider {
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    width: 100px;
    margin-left: 6px;
}

.dual-range-slider .range-values {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #fff;
    pointer-events: none;
}

.dual-range-slider > input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    width: 100%;
    top: 17px;
    height: 5px;
    background: none;
    pointer-events: none;
    margin: 0;
    z-index: 3;
}

.dual-range-slider > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    margin-top: -5px;
    z-index: 2;
    position: relative;
}

.dual-range-slider > input[type="range"]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    border: 0;
    z-index: 2;
    position: relative;
}

.dual-range-slider > .range-track {
    position: absolute;
    height: 5px;
    top: 15px;
    background: #4CAF50;
    border-radius: 5px;
    z-index: 1;
}

.dual-range-slider::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    top: 15px;
    background: #555;
    border-radius: 5px;
}

.felt {
    height: 2%;
    background-color: rgb(184, 0, 0);
}

.bar {
    position: absolute;
    height: 83%;
    transform: translateX(0);
    transition: transform .05s linear 0s;
}

.bar.white {
    display: grid;
    grid-auto-columns: 20px;
    grid-auto-flow: column;
}

.bar.black {
    display: grid;
    grid-auto-columns: 5px;
    grid-auto-flow: column;
    pointer-events: none;
}

.bar.white .piano-key {
    position: relative;
    box-sizing: border-box;
    border: 1px solid black;
    border-right: none;
    height: 100%;
    background: #ffffff;
    border-bottom-left-radius: 3px; /* set by js */
    border-bottom-right-radius: 3px; /* set by js */
    box-shadow: inset 0px -4px 1px rgba(0, 0, 0, 0.5); /* set by js */
    transition: box-shadow .2s;
}

.bar.white .piano-key:hover ,
.bar.white .piano-key.active .key-pressed:hover {
    background: var(--local-hover-color-white) !important;
}

.bar.white .piano-key:last-of-type {
    border-right: 1px solid black;
}

.bar.black .piano-key {
    position: relative;
    height: 60%;
    background: #000000;
    grid-column: span 2;
    pointer-events: initial;
    border: 2px solid black;
    border-top: none;
    border-bottom-left-radius: 1px; /* set by js */
    border-bottom-right-radius: 1px; /* set by js */
    box-shadow: inset 0px -4px 1px rgba(255, 255, 255, .5); /* set by js */
    transition: box-shadow .2s;
    margin-top: 1px;
}

.bar.black .piano-key:hover,
.bar.black .piano-key.active .key-pressed:hover {
    background: var(--local-hover-color-black) !important;
}

.bar.black .piano-key.hidden {
    visibility: hidden;
    pointer-events: none;
}

.bar.black .piano-key.hidden.offset {
    grid-column: span 3;
}

.piano-key > .key-pressed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: box-shadow .2s;
}

.piano .pedals {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
    justify-items: center;
    align-items: center;
    margin-top: -2px;
}

.piano .pedals > div {
    position: relative;
    height: 100%;
    width: 56px;
}

.piano .pedals button {
    display: block;
    background-color: #ffffff;
    color: #000000;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1vw;
}

.piano .pedals button:hover {
    background-color: #bbffbb;;
    transition: all .3s;
}

.piano.soft .bar {
    transform: translateX(.5%);
    transition: transform .1s linear 0s;
}

.piano-key.out-of-range {
    pointer-events: none;
}

.bar.white .piano-key.out-of-range,
.bar.white .piano-key.out-of-range:hover {
    background: #ccc !important;
}

.bar.black .piano-key.out-of-range,
.bar.black .piano-key.out-of-range:hover {
    background: #555 !important;
}

.piano-key.out-of-range.active,
.piano-key.out-of-range .key-pressed {
    background: transparent !important;
    box-shadow: none !important;
}
